### discord bot ###
#discord.py
git+https://github.com/Rapptz/discord.py
pynacl
#google-cloud-texttospeech
python-dotenv
requests
Django
mysqlclient

### mkdocs ###
mkdocs
mkdocs-material
mdx_linkify
